.add-lesson-container {
    margin: 2rem;
  .lesson-form {
    display: flex;
    flex-direction: column;

    textarea {
        resize: none;
        height: 10rem;
    }

    .lesson-form-input-group {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      input,
      textarea {
        width: 90%;
      }
    }

    label {
      font-weight: bold;
    }

    button {
      align-self: flex-end;
    }

    .lesson-form-md-editor {
        margin-top: 2rem;
    }
  }
}
