.classroom-container {
    margin: 2rem;
    .classroom-heading {
        display: flex;
        flex-direction: column;
    
        .classroom-heading-button-group {
            align-self: flex-end;
            
            button {
                font-size: 20px;
                border: none;
                padding: 1.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}

