.accordian {
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px;

  .accordian-item {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;
  }

  .accordian-title {
    &.hover {
      cursor: pointer;
    }

    .accordian-icon {
      font-size: 26px;
      font-weight: bolder;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordian-body {
    color: black;
    max-height: 0;
    overflow: hidden;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;

    &.show {
      max-height: 9999px;
      height: 100%;
    }

    .accordian-button {
      align-self: flex-end;
      border: none;
    }
  }
}
