.form-container {
  display: flex;
  flex-direction: column;

  .form-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    label {
      padding-right: 20px;
      font-weight: bold;
    }
    input,
    textarea {
      width: 400px;
      padding-left: 0.2rem;
    }
  }
}
